# SQL Server (Docker Compose)
MSSQL_SA_PASSWORD=Your_password123

# Backend (DotNetEnv)
CONNECTION_STRING=Server=localhost,1433;Database=DengueDb;User Id=sa;Password=Your_password123;TrustServerCertificate=True;
